.imageUser {
  width: 100px;
  border-radius: 15px;
  margin-top: 20px;
}

.repositoryNameLink {
  font-size: 20px;
}
.listRpositoryActions {
  display: flex;
  align-items: flex-start;
}
.listRpositoryActions li {
  margin-right: 10px;
}
.optionsRepos {
  position: absolute;
  flex-direction: column;
  width: 100px !important;
  top: 60%;
  right: 25%;
}