.imageUser {
  width: 100px;
  border-radius: 15px;
  margin-top: 20px;
}
.repositoryNameLink {
  font-size: 20px;
}
.listRepositoryActions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.listRepositoryActions li {
  margin-right: 10px;
}
.containerListRepos {
  flex-direction: row !important;
}
.ListRepositories {
  flex-direction: column;
}
.optionsRepositories {
  height: fit-content;
  top: auto;
}